:root
{
  --bg_color: rgb(46, 46, 46);
  --bg_color_2: rgb(66, 66, 66);
  --color_emphasize1: rgb(91, 255, 64);
  --color_emphasize2: rgb(255, 127, 23);
  --txt_font_emphasize: 'Krona One', sans-serif;
  --txt_font_emphasize2: 'Montserrat', sans-serif;
  --txt_font_base: 'Titillium Web', sans-serif;
  --txt_color_neutral: rgb(191, 209, 196);
  background-color: var(--bg_color);
}

*
{
  margin: 0;
  padding: 0;
}

header
{
  color: var(--color_emphasize1);
  background-color: var(--bg_color_2);
  line-height: 5em;
  font-family: var(--txt_font_emphasize);
  padding: 0 30%;
}

main
{
  color: var(--txt_color_neutral);
  margin: 1.5em 20%;
  font-family: var(--txt_font_base);
}

form
{
  margin: 1em 0; 
}

select 
{
  margin-top: 30px;
}

input 
{
  margin-top: 10px;
}

textarea{
  margin-top: 20px;
}

/* .separateur
{
  width: 0.5em;
  background-image: repeating-linear-gradient(-45deg,
                  var(--bg_color),
                  var(--bg_color) 10px,
                  transparent 10px,
                  var(--color_emphasize2) 20px,
                  transparent 20px);
} */

/* ul
{
  flex: 1;
} */

/* li
{
  list-style-type: none;
  padding: 0.3em 1.5em;
} */

h1
{
  text-align: center;
}

h2
{
  font-family: var(--txt_font_emphasize2);
  color: var(--color_emphasize2);
}

.categorie  
{
  margin-left: 30px;
}

.auteur
{
  margin-left: 49px;
 
  width: 135px;
}

/* #consult li
{
  line-height: 6em;
} */
/* 
p, li
{
  font-size: 1.2em;
} */

.class1
{
  margin-left: 10px;
}

.clique2
 {
   margin-left: 60px;
 }
a
{
  text-decoration: none;
  color: inherit;
}

a:hover
{
  color: var(--color_emphasize1);
}

a:visited
{
  color: var(--color_emphasize2);
}

h1, a:visited
{
  text-decoration: none;
}