input
{
  margin-top: 10px;
}

h1
{
  text-align: center;
}

.categorie
{
  margin-left: 30px;
}

.auteur
{
  margin-left: 49px;

  width: 135px;
}

.class1
{
  margin-left: 10px;
}

.clique2
 {
   margin-left: 60px;
 }
